@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1em;
}
.intro h1 {
  font-size: 40px;
  font-weight: 700;
  color: #002147;
  text-transform: capitalize;
  text-align: center;
}
.intro p {
  font-size: 14px;
  line-height: 20px;
  white-space: wrap;
  font-weight: 400;
  color: #002147;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 0.4em;
}

#sot-map {
  height: 80vh;
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sot-map .map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#sot-map .map svg {
  height: 100% !important;
  width: 100% !important;
  stroke: #fff;
  scale: 1.3;
  transition: transform 0.3s ease;
}
#sot-map .map svg path {
  fill: #1295a9;
  transition: all 0.3s ease-in;
}
#sot-map .map svg .marker {
  fill: rgb(180, 13, 13) !important;
  fill-rule: nonzero;
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
  width: 8px !important;
  height: 8px !important;
  animation: pulse 1s infinite alternate; /* Pulsing animation */
}
#sot-map .map svg .active {
  cursor: pointer;
  fill: #002147 !important;
}
#sot-map .map svg .active:hover {
  fill: #d0dddc !important;
}

#lightbox {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(208, 221, 220, 0.5882352941);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#lightbox #popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #d0dddc;
  border-radius: 10px;
  z-index: 1000;
  width: 70vw;
  height: 70vh;
  overflow-y: auto;
  white-space: wrap;
  padding: 10px;
}
#lightbox #popup h2 {
  font-size: 18px;
  color: #002147;
  text-transform: uppercase;
  margin-bottom: 4px;
}
#lightbox #popup h3 {
  font-size: 14px;
  color: #002147;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#lightbox #popup table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
}
#lightbox #popup table th,
#lightbox #popup table td {
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
#lightbox #popup table th {
  background-color: #002147;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
#lightbox #popup table td {
  color: #5b5959;
}
#lightbox #popup table tr:nth-child(even) {
  background-color: #d0dddc;
}
#lightbox #popup table tr:hover {
  background-color: #d0dddc;
}
#lightbox .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #002147;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
}
#lightbox .close-button:hover {
  background-color: #1295a9;
}

/* CSS Animations */
@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}/*# sourceMappingURL=style.css.map */